[Unit]
Description=Milwaukee Hurling Club Scoreboard
After=network.target

[Service]
WorkingDirectory=/usr/lib/mhc-scoreboard/
ExecStart=/usr/lib/mhc-scoreboard/run.sh
Restart=always
User=pi
Group=pi

[Install]
WantedBy=default.target