.vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.large-input-button {
  height: 3rem;
  width: 100%;
  border-radius: 0 !important;
}

.large-number-wrapper {
  padding: 0.25rem;
}

.large-input-readonly {
  font-size: 6rem;
  text-align: center;
}

.hidden {
  visibility: hidden;
}
